@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}


:root {
  --font-vazirmatn: "Vazirmatn", sans-serif;
  /* رنگ‌های برند */
  --color-primary: #9eaa92;   /* سبز برند */
  --color-secondary: #d4af37; /* طلایی لوگو */
  --color-accent: #00bfff;    /* آبی روشن */
  --color-accent-pink: #ffb6c1; /* صورتی ملایم */

  /* رنگ‌های خنثی */
  --color-white: #ffffff;
  --color-black: #333333;
  --color-gray-light: #f5f5f5;
  --color-gray-dark: #666666;

  /* رنگ‌های کمکی */
  --color-mint: #98ff98;
  --color-yellow: #ffd966;
}

body {
  font-family: var(--font-vazirmatn);
}

html { direction: rtl; }
@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}
.animate-bounce-slow { animation: bounce-slow 3s ease-in-out infinite; }

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}
.animate-bounce { animation: bounce 2s ease-in-out infinite; }

/* لازم برای flip */
.perspective { perspective: 1000px; }
.transform-style-preserve-3d { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; -webkit-backface-visibility: hidden; }
.rotate-y-180 { transform: rotateY(180deg); }
